<div class="settings__content settings__content--cards">
    <section class="settings__section settings__section--header">
        <h1 class="settings__title"><i class="fa fa-question settings__head-icon"></i> {{res 'help'}}</h1>
    </section>

    <section class="settings__section">
        <h2>{{res 'setHelpFormat'}}</h2>
        <p class="settings__meta">{{#res 'setHelpFormatBody'}}<a href="https://keepass.info/" target="_blank">KeePass</a>{{/res}}</p>
    </section>

    <section class="settings__section">
        <h2>{{res 'setHelpProblems'}}</h2>
        <p class="settings__meta">{{#res 'setHelpProblems1'}} <a href="{{issueLink}}" target="_blank">{{res 'setHelpOpenIssue'}}</a>{{/res}}
            {{#res 'setHelpProblems2'}}<a href="https://antelle.net/" target="_blank">{{res 'setHelpContactLink'}}</a>{{/res}}.
        </p>
        <p class="settings__meta">{{res 'setHelpAppInfo'}}:</p>
        <pre class="settings__pre input-base">{{appInfo}}</pre>
    </section>

    <section class="settings__section">
        <h2>{{res 'setHelpOtherPlatforms'}}</h2>
        <ul>
            <li>
                <i class="fa fa-windows"></i>
                <i class="fa fa-apple"></i>
                <i class="fa fa-linux"></i>
                <a href="{{desktopLink}}" target="_blank">{{res 'setHelpDesktopApps'}}</a>
            </li>
            <li>
                <i class="fa fa-chrome"></i>
                <i class="fa fa-firefox-browser"></i>
                <i class="fa fa-opera"></i>
                <i class="fa fa-safari"></i>
                <i class="fa fa-edge"></i>
                <a href="{{webAppLink}}" target="_blank">{{res 'setHelpWebApp'}}</a>
            </li>
        </ul>
    </section>

    <section class="settings__section">
        <h2>{{res 'setHelpUpdates'}} <i class="fa fa-twitter"></i></h2>
        <p class="settings__meta">{{res 'setHelpTwitter'}}: <a href="https://twitter.com/kee_web" target="_blank">kee_web</a></p>
    </section>
</div>
